:root {
    --white: rgb(223, 228, 230);
    --lightGrey: rgb(145, 150, 158);
    --royalBlue: rgb(59, 105, 230);
    --ff-accent1: 'Overlock SC', cursive;
    --ff-accent2: 'Oxanium', cursive;
    --ff-main: 'Zen Dots', cursive; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: var(--white);
    font-family: var(--ff-main);
    margin: 0 auto;

}

.nav__bar {
    list-style: none;
    transition: .3s all ease;
    position: absolute;
    left: -11.5em;
    width: 11.5em;
    min-height: 100%;
    color: black;
    background-color: var(--lightGrey);
    z-index: 9999;
}

.open {
    left: 0em;
}

.navbar__child {
    transition: .3s all ease;
    font-family: var(--ff-accent2);
    text-transform: uppercase;
    padding: .7em;
    font-weight: 700;
    letter-spacing: .2rem;
}

.navbar__child:hover {
    cursor: pointer;
    background-color: var(--white);
}

.hamburger {
    position: absolute;
    cursor: pointer;
    
}

.hamburger span {
    display: block;
    background-color: var(--white);
    border-radius: 12px;
    height: .3em;
    margin: .3em;
    width: 2em;
    transition: 0.3s;
    position: relative;
}

.hamburger:hover {
    /*color: black;
    font-size: 3rem;
    font-weight: 700;*/
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(139, 224, 245),
    0 0 82px rgb(139, 224, 245),
    0 0 92px rgb(139, 224, 245),
    0 0 102px rgb(139, 224, 245),
    0 0 151px rgb(139, 224, 245),
}

.change.first__bar {
    transform: rotate(45deg);
    top: .6em;
}

.change.second__bar {
    opacity: 0;
}

.change.third__bar {
    transform: rotate(-45deg);
    bottom: .6em;
}


.main__div {
    margin: 0 auto;
    max-width: 1500px;
}

.main__img {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/nav-bar-layout/pics/cyber1.jpeg");
    background-color: #404040;
    background-blend-mode: multiply;
    opacity: .8;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;

}

.cursor {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    border: 2px solid rgb(124, 171, 243);
    background-color: rgb(59, 105, 230);
    opacity: .4;
    filter: brightness(0.9);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.shift {
    margin-left: 11.5em;
}

p,
h1,
h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 0px 2px 3px var(--lightGrey);
    letter-spacing: .2rem;
} 

p {
    color: var(--lightGrey);
    font-size: .5rem;
}

h1 {
    font-size: 5rem;
    text-shadow: 0px 2px 3px white;
    margin-bottom: 1em;
}

p {
    font-size: .75rem;
}

.value__build__contain {
    width: 60%;
    max-height: 10vh;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 37em;
    left: 15em;
}

.value__build {
    font-family: var(--ff-accent2);
    color: red;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;

}

.link__grow {
    transform: scale(2.7);
    background-color: aquamarine;
    border: 2px solid rgb(219, 247, 240);
    opacity: .6;
    transition: all 0.3s ease;
    transition-property: background, transform;
}

@media (max-width: 600px) {
    .value__build__contain {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        font-size: 1rem;
        padding: 1.5em;
    }
}