/*BODY STYLING*/

:root {
    --white: rgb(223, 228, 230);
    --lightGrey: rgb(145, 150, 158);
    --royalBlue: rgb(59, 105, 230);
    --ff-accent1: 'Overlock SC', cursive;
    --ff-accent2: 'Oxanium', cursive;
    --ff-main: 'Zen Dots', cursive; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: var(--white);
    font-family: var(--ff-main);
    margin: 0 auto;
}

/*CURSOR STYLING*/

.cursor {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    border: 2px solid rgb(124, 171, 243);
    background-color: rgb(59, 105, 230);
    opacity: .4;
    filter: brightness(0.9);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}


/*NAVBAR STYLING*/

.nav__bar {
    list-style: none;
    transition: .3s all ease;
    position: absolute;
    left: -11.5em;
    width: 11.5em;
    min-height: 100%;
    color: black;
    background-color: var(--lightGrey);
    z-index: 9998;
}

.active {
    border-bottom: 2px solid black;
}

.open {
    left: 0em;
}

.navbar__child {
    transition: .3s all ease;
    font-family: var(--ff-accent2);
    text-transform: uppercase;
    padding: .7em;
    font-weight: 700;
    letter-spacing: .2rem;  
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar__child:hover,
.navbar__child:focus {
    cursor: pointer;
    background-color: var(--white);
}

/*HAMBURGER STYLING*/

.hamburger {
    position: absolute;
    cursor: pointer;  
    z-index: 9998;
}

.hamburger span {
    display: block;
    background-color: var(--white);
    border-radius: 12px;
    height: .3em;
    margin: .3em;
    width: 2em;
    transition: 0.3s;
    position: relative;
}

.hamburger:hover > span {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.change.first__bar {
    transform: rotate(45deg);
    top: .6em;
}

.change.second__bar {
    opacity: 0;
}

.change.third__bar {
    transform: rotate(-45deg);
    bottom: .6em;
}

/*MODAL STYLING*/

.modal__backgrnd {
    background-color: rgba(237, 239, 243, 0.75);
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal__div {
    background-color: red;
    position: absolute;
    max-width: 85vh;
    max-height: 85vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: .25em;
    z-index: 9998;
    
    font-family: var(--ff-accent2);
    border-radius: 10%;
}

.modal__toggle {
    display: none;
}

.my__form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 80%;
}

input {
    border-radius: 7px;
    width: 100%;
    height: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    background-color: var(--white);
    font-family: inherit;
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

.submit__button {
    background-color: var(--white); 
    opacity: 1;
    border-radius: 7px;
    width: 100%;
    height: 2.5em;
    color: black;
    cursor: pointer;
    font-family: var(--ff-main);
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: transform 250ms;
}

.submit__button:hover,
.submit__botton:focus {
    color: aquamarine;
    background-color: black;
    transform: scale(1.1);
}

.close {
    cursor: pointer;
    height: .5em;
    width: .5em;
    font-size: 3rem;
    transform: translate(-50%,-50%);
}

.modal__txt {
    font-family: var(--ff-accent2);
    font-size: 1.5rem;
    font-weight: 700;
}

.modal__txt2 {
    color: black;
}


/*PAGE STYLING*/

.img__div {
    font-family: var(--ff-accent2);
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 1.5em;
}

.img__div img {
    margin: 0 auto;
    max-width: 900px;
}

.img__div p {
    font-family: var(--ff-accent2);
}

.main__div {
    margin: 0 auto;
    max-width: 1500px;
}

.about__pg__title {
    margin-bottom: 1.5em;
}

.about__pg__title1 {
    font-size: 2em;
    margin-bottom: .5em;
}

.about__pg__title1top {
    font-size: 2em;
    margin-bottom: .5em;
}

.contact__pg__title {
    font-family: var(--ff-accent2);
    margin-bottom: 1.75em;
}

.pg__subtitlewhy {
    margin-bottom: .75em;
}

.red__line {
    height: .2em;
    width: 5em;
    background-color: red;
    /*transform: scaleX(2);*/
}

.main__img {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/nav-bar-layout/pics/cyber1.jpeg");
    background-color: #404040;
    background-blend-mode: multiply;
    opacity: .8;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.main__img__2 {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/nav-bar-layout/pics/michal-biernat-h0xEUQXzU38-unsplash.jpeg");
    background-color: #404040;
    background-blend-mode: multiply;
    opacity: .8;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    text-align: center;
    align-content: center;
    object-fit: contain;
}

.main__img__3 {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/nav-bar-layout/pics/cyber1.jpeg");
    background-color: #404040;
    background-blend-mode: multiply;
    opacity: .8;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.image {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
}

.shift {
    margin-left: 11.5em;
}

p,
h1,
h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    letter-spacing: .2rem;
    font-family: inherit;
} 

p {
    color: var(--white);
    font-size: .5rem;
    padding: .5em;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 0px 2px 3px var(--lightGrey);
    letter-spacing: .2rem;
    font-family: inherit;
}

.pg__titlewhy,
.pgtitle__home {
    font-size: 5rem;
    text-shadow: 0px 2px 3px var(--lightGrey);
    margin-bottom: 1em;
}

p {
    font-size: .75rem;
}

.our__services {
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
}

.redtxt {
    color: red;
}

#value__build__contain {
    width: 60%;
    max-height: 10vh;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 37em;
    left: 15em;
}

#value__build__containwhy {
    width: 60%;
    max-height: 10vh;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 33em;
    left: 15em;
}

.value__build {
    font-family: var(--ff-accent2);
    color: red;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;

}

.link__grow {
    transform: scale(2.7);
    background-color: aquamarine;
    border: 2px solid rgb(219, 247, 240);
    opacity: .2;
    transition: all 0.3s ease;
    transition-property: background, transform;
}

/*CONTACT US BUTTON STYLING */

.btn__div {
    position: relative;
    display: flex;
    font-family: var(--ff-accent2);
}

.red__btn__about {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: 1.5em;
    left: 20em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__blog {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: 1em;
    left: 20em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__contact {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: -4.5em;
    left: 19.5em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__home {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: 1.5em;
    left: 18.5em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__meet {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: .5em;
    left: 12em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__why {
    border: 1px solid rgb(248, 87, 87);
    background-color: red;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 2rem;
    top: 1em;
    left: 18.5em;
    z-index: 9997;
    cursor: pointer;
    font-family: inherit;
    padding-top: .5em;
}

.red__btn__why:hover,
.red__btn__meet:hover,
.red__btn__home:hover,
.red__btn__contact:hover,
.red__btn__blog:hover,
.red__btn__about:hover,
.red__btn__why:focus,
.red__btn__meet:focus,
.red__btn__home:focus,
.red__btn__contact:focus,
.red__btn__blog:focus,
.red__btn__about:focus {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(235, 253, 252, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(190, 255, 233, 0.75);
    box-shadow: 0px 0px 15px 5px rgba(190, 255, 255, 0.75);
}
/*MEDIA QUERY*/

@media (max-width: 600px) {
    h1 {
        font-size: 4rem;
        padding: .5em;
    }
    #value__build__contain {
        display: block;
        position: relative;
        top: 10em;
        left: auto;
        width: auto; 
    }
    
    .value__build {
        font-size: 1rem;
        margin-top: 3em;
        padding: 1em;
    }

    #value__build__containwhy {
        display: block;
        position: relative;
        top: 10em;
        left: auto;
        width: auto; 
    }

    .pg__titlewhy {
        margin-bottom: .5em;
    }

    .why__p {
        margin-top: 4.5em;
    }

    .about__pg__titlemeet {
        font-size: 2em;
        padding-top: 2em;
    }

    .about__pg__title1top {
        padding-top: 1.5em;
    }

    .pg__title__blog {
        padding-top: 1.75em;
    }

    .image {
        object-fit: cover;
        width: 100%;
        max-height: 350px;
    }
}