:root {
    --white: rgb(223, 228, 230);
    --lightGrey: rgb(145, 150, 158);
    --ff-accent1: 'Overlock SC', cursive;
    --ff-accent2: 'Oxanium', cursive;
    --ff-main: 'Zen Dots', cursive; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: var(--white);
    font-family: var(--ff-main);
    margin: 0 auto;

}

.nav__bar {
    list-style: none;
    transition: .3s all ease;
    position: absolute;
    left: -11.5em;
    width: 11.5em;
    height: 100%;
    color: black;
    background-color: var(--lightGrey);
    z-index: 9999;
}

.open {
    left: 0em;
}

.navbar__child {
    transition: .3s all ease;
    font-family: var(--ff-accent2);
    text-transform: uppercase;
    padding: .7em;
    font-weight: 700;
    letter-spacing: .2rem;
}

.navbar__child:hover {
    cursor: pointer;
    background-color: var(--white);
}

.hamburger {
    position: absolute;
    cursor: pointer;
    /*top: .75em;
    right: -11.5em;*/
}

.hamburger span {
    display: block;
    background-color: var(--white);
    border-radius: 12px;
    height: .3em;
    margin: .3em;
    width: 2em;
    transition: 0.3s;
}

.first__bar,
.third__bar {
    position: absolute;
}

.change.first__bar {
    transform: rotate(45deg);
    top: 30px;
}

.change.second__bar {
    opacity: 0;
}

.change.third__bar {
    transform: rotate(-45deg);
}

.main__div {
    margin: 0 auto;
    max-width: 1500px;
}

img {
    object-fit: cover;
    width: 100%;
    max-height: 1050px;
}

p,
h1,
h2 {
    text-align: center;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: .75rem;
}